<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Available Flights</title>
    <a th:href="@{/}" class="btn-home">Back to Home</a>
</head>
<body>
    <h2>Available Flights</h2>
    <header>
        <h1>Flight Booking System</h1>
    </header>
    <table>
        <thead>
            <tr>
                <th>Departure Airport</th>
                <th>Destination Airport</th>
                <th>Departure Time</th>
                <th>Arrive Time</th>
               
            </tr>
        </thead>
        <tbody>
         
            <tr th:each="flight : ${availableFlights}">
                <td th:text="${flight.getFromAirport().getairportname()}"></td>
                <td th:text="${flight.getDestinationAirport().getairportname()}"></td>
                <td th:text="${flight.getDepartureTime()}"></td>
                <td th:text="${flight.getArriveTime()}"></td>
              
            </tr>

          


        </tbody>
    </table>
    <input type="submit" value="Book Now">
</body>
</html>
