<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book Flights System</title>
</head>

<body>
    <h2>Book Flights</h2>
    <form th:action="@{/Bookdirect}" method="post">
        
        <label for="FromAirport">From Airport:</label>
           <select class="form-control" id="FromAirport" name="FromAirport">
                <option value="">Select an Airport</option>
                <option th:each="airport : ${airports}" th:value="${airport.getairportabbreviation()}" th:text="${airport.getairportname()}">
                </option>
            </select>

            <label for="DepartureAirport">Departure Airport:</label>
            <select class="form-control" id="DepartureAirport" name="DepartureAirport">
                 <option value="">Select an Airport</option>
                 <option th:each="airport : ${airports}" th:value="${airport.getairportabbreviation()}" th:text="${airport.getairportname()}">
                 </option>
             </select>
      
        
      
        <input type="submit" value="Display Available Flights">
    </form>

    <div th:if="${availableFlights}">
        <h3>Available Flights</h3>
        <ul>
            <li th:each="flight : ${availableFlights}" th:text="${flight.toString()}"></li>
        </ul>
    </div>
    
</body>
</html>
